.btn {
	padding: 6px 12px; border-radius: 3px; border: 1px solid transparent; border-image: none; text-align: center; line-height: 1.4285; font-size: 14px; font-weight: normal; margin-bottom: 0px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; background-image: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.btn:focus {
	outline: dotted thin; outline-offset: -2px;
}
.btn:focus:active {
	outline: dotted thin; outline-offset: -2px;
}
.active.btn:focus {
	outline: dotted thin; outline-offset: -2px;
}
.btn:hover {
	color: rgb(51, 51, 51); text-decoration: none;
}
.btn:focus {
	color: rgb(51, 51, 51); text-decoration: none;
}
.btn:active {
	outline: 0px; box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125); background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.active.btn {
	outline: 0px; box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125); background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.disabled.btn {
	cursor: not-allowed; opacity: 0.65; pointer-events: none; box-shadow: none; -webkit-box-shadow: none;
}
[disabled].btn {
	cursor: not-allowed; opacity: 0.65; pointer-events: none; box-shadow: none; -webkit-box-shadow: none;
}
fieldset[disabled] .btn {
	cursor: not-allowed; opacity: 0.65; pointer-events: none; box-shadow: none; -webkit-box-shadow: none;
}
.btn-default {
	border-color: rgb(225, 225, 225); color: rgb(51, 51, 51); background-color: rgb(249, 249, 247);
}
.btn-default:link {
	border-color: rgb(194, 194, 194); color: rgb(51, 51, 51); background-color: rgb(227, 227, 218);
}
.btn-default:hover {
	border-color: rgb(194, 194, 194); color: rgb(51, 51, 51); background-color: rgb(227, 227, 218);
}
.btn-default:focus {
	border-color: rgb(194, 194, 194); color: rgb(51, 51, 51); background-color: rgb(227, 227, 218);
}
.btn-default:active {
	border-color: rgb(194, 194, 194); color: rgb(51, 51, 51); background-color: rgb(227, 227, 218);
}
.active.btn-default {
	border-color: rgb(194, 194, 194); color: rgb(51, 51, 51); background-color: rgb(227, 227, 218);
}
.open > .btn-default.dropdown-toggle {
	border-color: rgb(194, 194, 194); color: rgb(51, 51, 51); background-color: rgb(227, 227, 218);
}
.btn-default:active {
	background-image: none;
}
.active.btn-default {
	background-image: none;
}
.open > .btn-default.dropdown-toggle {
	background-image: none;
}
.disabled.btn-default {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
[disabled].btn-default {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
fieldset[disabled] .btn-default {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
.disabled.btn-default:hover {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
[disabled].btn-default:hover {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
fieldset[disabled] .btn-default:hover {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
.disabled.btn-default:focus {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
[disabled].btn-default:focus {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
fieldset[disabled] .btn-default:focus {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
.disabled.btn-default:active {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
[disabled].btn-default:active {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
fieldset[disabled] .btn-default:active {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
.active.disabled.btn-default {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
[disabled].active.btn-default {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
fieldset[disabled] .active.btn-default {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
.btn-default .badge {
	color: rgb(249, 249, 247); background-color: rgb(51, 51, 51);
}
.btn-primary {
	border-color: rgb(53, 126, 189); color: rgb(255, 255, 255); background-color: rgb(66, 139, 202);
}
.btn-primary:link {
	border-color: rgb(40, 94, 142); color: rgb(255, 255, 255); background-color: rgb(48, 113, 169);
}
.btn-primary:hover {
	border-color: rgb(40, 94, 142); color: rgb(255, 255, 255); background-color: rgb(48, 113, 169);
}
.btn-primary:focus {
	border-color: rgb(40, 94, 142); color: rgb(255, 255, 255); background-color: rgb(48, 113, 169);
}
.btn-primary:active {
	border-color: rgb(40, 94, 142); color: rgb(255, 255, 255); background-color: rgb(48, 113, 169);
}
.active.btn-primary {
	border-color: rgb(40, 94, 142); color: rgb(255, 255, 255); background-color: rgb(48, 113, 169);
}
.open > .btn-primary.dropdown-toggle {
	border-color: rgb(40, 94, 142); color: rgb(255, 255, 255); background-color: rgb(48, 113, 169);
}
.btn-primary:active {
	background-image: none;
}
.active.btn-primary {
	background-image: none;
}
.open > .btn-primary.dropdown-toggle {
	background-image: none;
}
.disabled.btn-primary {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
[disabled].btn-primary {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
fieldset[disabled] .btn-primary {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
.disabled.btn-primary:hover {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
[disabled].btn-primary:hover {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
fieldset[disabled] .btn-primary:hover {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
.disabled.btn-primary:focus {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
[disabled].btn-primary:focus {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
fieldset[disabled] .btn-primary:focus {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
.disabled.btn-primary:active {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
[disabled].btn-primary:active {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
fieldset[disabled] .btn-primary:active {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
.active.disabled.btn-primary {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
[disabled].active.btn-primary {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
fieldset[disabled] .active.btn-primary {
	border-color: rgb(53, 126, 189); background-color: rgb(66, 139, 202);
}
.btn-primary .badge {
	color: rgb(66, 139, 202); background-color: rgb(255, 255, 255);
}
.btn-success {
	border-color: rgb(76, 174, 76); color: rgb(255, 255, 255); background-color: rgb(92, 184, 92);
}
.btn-success:link {
	border-color: rgb(57, 132, 57); color: rgb(255, 255, 255); background-color: rgb(68, 157, 68);
}
.btn-success:hover {
	border-color: rgb(57, 132, 57); color: rgb(255, 255, 255); background-color: rgb(68, 157, 68);
}
.btn-success:focus {
	border-color: rgb(57, 132, 57); color: rgb(255, 255, 255); background-color: rgb(68, 157, 68);
}
.btn-success:active {
	border-color: rgb(57, 132, 57); color: rgb(255, 255, 255); background-color: rgb(68, 157, 68);
}
.active.btn-success {
	border-color: rgb(57, 132, 57); color: rgb(255, 255, 255); background-color: rgb(68, 157, 68);
}
.open > .btn-success.dropdown-toggle {
	border-color: rgb(57, 132, 57); color: rgb(255, 255, 255); background-color: rgb(68, 157, 68);
}
.btn-success:active {
	background-image: none;
}
.active.btn-success {
	background-image: none;
}
.open > .btn-success.dropdown-toggle {
	background-image: none;
}
.disabled.btn-success {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
[disabled].btn-success {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
fieldset[disabled] .btn-success {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
.disabled.btn-success:hover {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
[disabled].btn-success:hover {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
fieldset[disabled] .btn-success:hover {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
.disabled.btn-success:focus {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
[disabled].btn-success:focus {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
fieldset[disabled] .btn-success:focus {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
.disabled.btn-success:active {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
[disabled].btn-success:active {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
fieldset[disabled] .btn-success:active {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
.active.disabled.btn-success {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
[disabled].active.btn-success {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
fieldset[disabled] .active.btn-success {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
.btn-success .badge {
	color: rgb(92, 184, 92); background-color: rgb(255, 255, 255);
}
.btn-info {
	border-color: rgb(70, 184, 218); color: rgb(255, 255, 255); background-color: rgb(91, 192, 222);
}
.btn-info:link {
	border-color: rgb(38, 154, 188); color: rgb(255, 255, 255); background-color: rgb(49, 176, 213);
}
.btn-info:hover {
	border-color: rgb(38, 154, 188); color: rgb(255, 255, 255); background-color: rgb(49, 176, 213);
}
.btn-info:focus {
	border-color: rgb(38, 154, 188); color: rgb(255, 255, 255); background-color: rgb(49, 176, 213);
}
.btn-info:active {
	border-color: rgb(38, 154, 188); color: rgb(255, 255, 255); background-color: rgb(49, 176, 213);
}
.active.btn-info {
	border-color: rgb(38, 154, 188); color: rgb(255, 255, 255); background-color: rgb(49, 176, 213);
}
.open > .btn-info.dropdown-toggle {
	border-color: rgb(38, 154, 188); color: rgb(255, 255, 255); background-color: rgb(49, 176, 213);
}
.btn-info:active {
	background-image: none;
}
.active.btn-info {
	background-image: none;
}
.open > .btn-info.dropdown-toggle {
	background-image: none;
}
.disabled.btn-info {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
[disabled].btn-info {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
fieldset[disabled] .btn-info {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
.disabled.btn-info:hover {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
[disabled].btn-info:hover {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
fieldset[disabled] .btn-info:hover {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
.disabled.btn-info:focus {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
[disabled].btn-info:focus {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
fieldset[disabled] .btn-info:focus {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
.disabled.btn-info:active {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
[disabled].btn-info:active {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
fieldset[disabled] .btn-info:active {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
.active.disabled.btn-info {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
[disabled].active.btn-info {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
fieldset[disabled] .active.btn-info {
	border-color: rgb(70, 184, 218); background-color: rgb(91, 192, 222);
}
.btn-info .badge {
	color: rgb(91, 192, 222); background-color: rgb(255, 255, 255);
}
.btn-warning {
	border-color: rgb(238, 162, 54); color: rgb(255, 255, 255); background-color: rgb(240, 173, 78);
}
.btn-warning:link {
	border-color: rgb(213, 133, 18); color: rgb(255, 255, 255); background-color: rgb(236, 151, 31);
}
.btn-warning:hover {
	border-color: rgb(213, 133, 18); color: rgb(255, 255, 255); background-color: rgb(236, 151, 31);
}
.btn-warning:focus {
	border-color: rgb(213, 133, 18); color: rgb(255, 255, 255); background-color: rgb(236, 151, 31);
}
.btn-warning:active {
	border-color: rgb(213, 133, 18); color: rgb(255, 255, 255); background-color: rgb(236, 151, 31);
}
.active.btn-warning {
	border-color: rgb(213, 133, 18); color: rgb(255, 255, 255); background-color: rgb(236, 151, 31);
}
.open > .btn-warning.dropdown-toggle {
	border-color: rgb(213, 133, 18); color: rgb(255, 255, 255); background-color: rgb(236, 151, 31);
}
.btn-warning:active {
	background-image: none;
}
.active.btn-warning {
	background-image: none;
}
.open > .btn-warning.dropdown-toggle {
	background-image: none;
}
.disabled.btn-warning {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
[disabled].btn-warning {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
fieldset[disabled] .btn-warning {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
.disabled.btn-warning:hover {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
[disabled].btn-warning:hover {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
fieldset[disabled] .btn-warning:hover {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
.disabled.btn-warning:focus {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
[disabled].btn-warning:focus {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
fieldset[disabled] .btn-warning:focus {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
.disabled.btn-warning:active {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
[disabled].btn-warning:active {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
fieldset[disabled] .btn-warning:active {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
.active.disabled.btn-warning {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
[disabled].active.btn-warning {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
fieldset[disabled] .active.btn-warning {
	border-color: rgb(238, 162, 54); background-color: rgb(240, 173, 78);
}
.btn-warning .badge {
	color: rgb(240, 173, 78); background-color: rgb(255, 255, 255);
}
.btn-danger {
	border-color: rgb(201, 65, 38); color: rgb(255, 255, 255); background-color: rgb(216, 76, 49);
}
.btn-danger:link {
	border-color: rgb(150, 48, 28); color: rgb(255, 255, 255); background-color: rgb(180, 58, 34);
}
.btn-danger:hover {
	border-color: rgb(150, 48, 28); color: rgb(255, 255, 255); background-color: rgb(180, 58, 34);
}
.btn-danger:focus {
	border-color: rgb(150, 48, 28); color: rgb(255, 255, 255); background-color: rgb(180, 58, 34);
}
.btn-danger:active {
	border-color: rgb(150, 48, 28); color: rgb(255, 255, 255); background-color: rgb(180, 58, 34);
}
.active.btn-danger {
	border-color: rgb(150, 48, 28); color: rgb(255, 255, 255); background-color: rgb(180, 58, 34);
}
.open > .btn-danger.dropdown-toggle {
	border-color: rgb(150, 48, 28); color: rgb(255, 255, 255); background-color: rgb(180, 58, 34);
}
.btn-danger:active {
	background-image: none;
}
.active.btn-danger {
	background-image: none;
}
.open > .btn-danger.dropdown-toggle {
	background-image: none;
}
.disabled.btn-danger {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
[disabled].btn-danger {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
fieldset[disabled] .btn-danger {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
.disabled.btn-danger:hover {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
[disabled].btn-danger:hover {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
fieldset[disabled] .btn-danger:hover {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
.disabled.btn-danger:focus {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
[disabled].btn-danger:focus {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
fieldset[disabled] .btn-danger:focus {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
.disabled.btn-danger:active {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
[disabled].btn-danger:active {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
fieldset[disabled] .btn-danger:active {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
.active.disabled.btn-danger {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
[disabled].active.btn-danger {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
fieldset[disabled] .active.btn-danger {
	border-color: rgb(201, 65, 38); background-color: rgb(216, 76, 49);
}
.btn-danger .badge {
	color: rgb(216, 76, 49); background-color: rgb(255, 255, 255);
}
.btn-link {
	border-radius: 0px; color: rgb(66, 139, 202); font-weight: normal; cursor: pointer;
}
.btn-link {
	box-shadow: none; background-color: transparent; -webkit-box-shadow: none;
}
.btn-link:active {
	box-shadow: none; background-color: transparent; -webkit-box-shadow: none;
}
[disabled].btn-link {
	box-shadow: none; background-color: transparent; -webkit-box-shadow: none;
}
fieldset[disabled] .btn-link {
	box-shadow: none; background-color: transparent; -webkit-box-shadow: none;
}
.btn-link {
	border-color: transparent;
}
.btn-link:hover {
	border-color: transparent;
}
.btn-link:focus {
	border-color: transparent;
}
.btn-link:active {
	border-color: transparent;
}
.btn-link:hover {
	color: rgb(42, 100, 150); text-decoration: underline; background-color: transparent;
}
.btn-link:focus {
	color: rgb(42, 100, 150); text-decoration: underline; background-color: transparent;
}
[disabled].btn-link:hover {
	color: rgb(153, 153, 153); text-decoration: none;
}
fieldset[disabled] .btn-link:hover {
	color: rgb(153, 153, 153); text-decoration: none;
}
[disabled].btn-link:focus {
	color: rgb(153, 153, 153); text-decoration: none;
}
fieldset[disabled] .btn-link:focus {
	color: rgb(153, 153, 153); text-decoration: none;
}
.btn-lg {
	padding: 10px 16px; border-radius: 4px; line-height: 1.33; font-size: 18px;
}
.btn-sm {
	padding: 5px 10px; border-radius: 2px; line-height: 1.5; font-size: 12px;
}
.btn-xs {
	padding: 1px 5px; border-radius: 2px; line-height: 1.5; font-size: 12px;
}
.btn-block {
	width: 100%; display: block;
}
.btn-block + .btn-block {
	margin-top: 5px;
}
input[type='submit'].btn-block {
	width: 100%;
}
input[type='reset'].btn-block {
	width: 100%;
}
input[type='button'].btn-block {
	width: 100%;
}
.page_navbar {
	background: rgb(249, 249, 247); height: 59px; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 0px 3px #eee, inset 0px 0px 3px #fff; -webkit-box-shadow: 0 0 3px #eee, inset 0 0 3px #fff;
}
.page_navbar .page-navbar-warp {
	margin: 0px auto; width: 97%; height: 59px; position: relative;
}
.page_navbar .page-navbar-warp .title {
	left: 0px; top: 0px; width: 180px; line-height: 59px; white-space: nowrap; position: absolute;
}
.page_navbar .page-navbar-warp .title h3 {
	margin: 0px; color: rgb(92, 99, 113); line-height: 59px; font-size: 20px; display: inline; min-width: 100px;
}
.page_navbar .page-navbar-warp .title h3 i {
	text-shadow: 0px 2px 0px #fff, 0px -2px 0px #f2f2ea;
}
.page_navbar .page-navbar-warp .title h3 a {
	padding: 10px 15px; border-radius: 5px; color: rgb(92, 99, 113); margin-left: -10px;
}
.page_navbar .page-navbar-warp .title h3 a:hover {
	background: rgb(242, 242, 234); color: rgb(216, 76, 49);
}
.page_navbar .page-navbar-warp .main {
	padding-top: 10px; margin-left: 180px;
}
#footer-outer {
	background: rgb(249, 249, 247); padding-top: 30px; box-shadow: inset 0px 0px 3px #e1e1e1; -webkit-box-shadow: inset 0 0 3px #e1e1e1;
}
#footer-outer .columns {
	margin: 0px auto; width: 920px;
}
#footer-outer .columns::before {
	display: table; content: " ";
}
#footer-outer .columns::after {
	display: table; content: " ";
}
#footer-outer .columns::after {
	clear: both;
}
#footer-outer .columns .column {
	width: 70px; line-height: 220%; margin-left: 0px; float: left;
}
#footer-outer .columns .column li h2 {
	font-size: 19px;
}
#footer-outer .text-center {
	padding: 20px; color: rgb(204, 204, 204);
}
#index-wrap {
	background: url("../img/banner_bg2.jpg") fixed no-repeat top rgb(197, 196, 192);
}
#index-wrap .index-banner {
	background: url("../img/banner_bg.png") no-repeat top; min-width: 980px;
}
#index-wrap .index-banner .index-banner-wrap {
	margin: 0px auto; width: 980px; height: 423px; position: relative;
}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner {
	padding: 60px 60px 60px 10px;
}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner h1 {
	color: rgb(255, 255, 255); margin-bottom: 50px;
}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner p {
	width: 410px; color: rgb(251, 251, 251); line-height: 150%; font-size: 24px; margin-top: 20px;
}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-action {
	left: 10px; bottom: 80px; position: absolute;
}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-action .btn-success {
	padding: 15px 60px; font-size: 23px;
}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-action a {
	color: rgb(255, 255, 255);
}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-carousel {
	top: 107px; width: 458px; height: 281px; right: 20px; position: absolute;
}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-carousel ol.carousel-indicators {
	left: 50%; top: auto; bottom: -30px;
}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-carousel ol.carousel-indicators li {
	cursor: pointer;
}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-carousel .carousel-control {
	display: none;
}
#index-wrap .index-body {
	background: rgb(251, 251, 251);
}
#index-wrap .index-body h3.index-feature-title {
	margin: 0px auto; width: 980px; text-align: center; padding-top: 50px; font-weight: normal;
}
#index-wrap .index-body ul.index-feature {
	margin: 0px auto; width: 1010px;
}
#index-wrap .index-body ul.index-feature::before {
	display: table; content: " ";
}
#index-wrap .index-body ul.index-feature::after {
	display: table; content: " ";
}
#index-wrap .index-body ul.index-feature::after {
	clear: both;
}
#index-wrap .index-body ul.index-feature li {
	padding: 45px 0px; width: 25%; text-align: center; color: rgb(153, 153, 153); line-height: 200%; font-size: 14px; float: left;
}
#index-wrap .index-body ul.index-feature li img {
	border-radius: 10px; width: 100px; height: 100px;
}
#index-wrap .index-body ul.index-feature li h4 {
	color: rgb(51, 51, 51); font-size: 20px; font-weight: normal; margin-top: 20px;
}
#index-wrap .index-body .index-say {
	background: url("https://dn-wtbox.qbox.me/img//index/div-grey-top.png?v=3.3.39") no-repeat top rgb(244, 244, 244); border-width: 1px 0px; border-style: solid; border-color: rgb(225, 225, 225); border-image: none; padding-bottom: 20px;
}
#index-wrap .index-body .index-say .index-say-inner {
	margin: 0px auto; width: 980px; height: 260px; position: relative;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-title {
	margin: 0px; padding: 30px 0px; text-align: center; font-weight: normal;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel {
	width: 980px; color: rgb(151, 151, 151); padding-bottom: 30px; font-size: 16px;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel .item {
	height: 140px;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel .item span.people {
	left: 0px; top: 0px; width: 170px; text-align: center; color: rgb(51, 51, 51); font-size: 16px; position: absolute; z-index: 100;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel .item span.people img {
	width: 45px;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel .item p {
	line-height: 240%; padding-top: 25px; font-size: 16px; margin-right: 30px; margin-left: 170px;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel .item p i {
	color: rgb(221, 221, 221); font-size: 0.8em;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel ol.carousel-indicators {
	left: 50%; top: auto; bottom: -30px;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel ol.carousel-indicators li {
	border-width: 2px; border-color: rgb(221, 221, 221); margin: 5px; cursor: pointer;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel ol.carousel-indicators li.active {
	width: 10px; height: 10px; background-color: rgb(221, 221, 221);
}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel-control {
	display: none;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-list li::before {
	display: table; content: " ";
}
#index-wrap .index-body .index-say .index-say-inner .index-say-list li::after {
	display: table; content: " ";
}
#index-wrap .index-body .index-say .index-say-inner .index-say-list li::after {
	clear: both;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-title {
	margin: 0px auto; width: 980px; text-align: center; font-size: 26px; font-weight: normal;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-title span {
	background: rgb(244, 244, 244); padding: 0px 30px; border: 0px currentColor; border-image: none; bottom: -12px; position: relative;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list {
	margin: 0px; left: 0px; right: 0px; bottom: 0px; position: absolute;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list::before {
	display: table; content: " ";
}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list::after {
	display: table; content: " ";
}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list::after {
	clear: both;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list li {
	width: 25%; text-align: center; line-height: 70px; float: left; opacity: 0.6;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list li:hover {
	opacity: 9;
}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list li img {
	height: 50px;
}
#index-wrap .index-body .index-who {
	background: url("https://dn-wtbox.qbox.me/img//index/pat.png?v=3.3.39") top rgb(88, 180, 84); height: 460px; text-align: center; color: rgb(255, 255, 255);
}
#index-wrap .index-body .index-who .index-who-inner {
	margin: 0px auto; width: 980px;
}
#index-wrap .index-body .index-who .index-who-inner .index-who-title {
	margin: 0px; padding: 40px 0px 50px; font-weight: normal;
}
#index-wrap .index-body .index-who .index-who-inner .index-who-grid::before {
	display: table; content: " ";
}
#index-wrap .index-body .index-who .index-who-inner .index-who-grid::after {
	display: table; content: " ";
}
#index-wrap .index-body .index-who .index-who-inner .index-who-grid::after {
	clear: both;
}
#index-wrap .index-body .index-who .index-who-inner .index-who-grid li {
	width: 25%; height: 93px; line-height: 200%; font-size: 16px; float: left;
}
#index-wrap .index-body .index-who .index-who-inner .index-who-grid li i {
	font-size: 2em; display: block;
}
#index-wrap .index-body .index-who .index-who-inner .index-who-footer {
	padding: 10px 0px 40px; font-size: 18px;
}
#index-wrap .index-body h3.index-other-title {
	margin: 0px; text-align: center; padding-top: 50px; font-weight: normal;
}
#index-wrap .index-body ul.index-other-list {
	margin: 0px auto; width: 1010px;
}
#index-wrap .index-body ul.index-other-list::before {
	display: table; content: " ";
}
#index-wrap .index-body ul.index-other-list::after {
	display: table; content: " ";
}
#index-wrap .index-body ul.index-other-list::after {
	clear: both;
}
#index-wrap .index-body ul.index-other-list li {
	padding: 45px 20px; width: 25%; text-align: center; line-height: 150%; font-size: 14px; float: left;
}
#index-wrap .index-body ul.index-other-list li h4 {
	font-size: 20px; font-weight: normal;
}
.login-wrap .single-panel .single-panel-inner {
	margin: 7% auto;
}
.login-wrap .single-panel .login-mini.single-panel-inner {
	width: 480px;
}
.login-wrap .single-panel .login-mini.single-panel-inner .single-panel-body {
	padding: 20px 40px 0px;
}
.login-wrap .single-panel .login-mini.single-panel-inner .single-panel-body form {
	margin: 0px 5% !important;
}
.login-wrap .single-panel .login-mini.single-panel-inner .single-panel-footer {
	padding: 0px 20px; border: 0px currentColor; border-image: none;
}
.forgot-wrap .single-panel-inner {
	margin: 7% auto;
}
div.hr {
	border-top-color: rgb(229, 229, 229); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
div.hr_black {
	border-top-color: rgb(17, 20, 21); border-bottom-color: rgb(100, 102, 104); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.border-notop {
	border-top-color: transparent; border-top-width: 1px; border-top-style: solid;
}
html {
	-webkit-text-size-adjust: none;
}
html.inner-html {
	height: 100%; overflow: hidden; position: relative;
}
html.inner-html body {
	left: 0px; top: 0px; height: 100%; right: 0px; bottom: 0px; overflow: hidden; position: absolute;
}
html body {
	background: rgb(251, 251, 251); padding: 0px; -ms-overflow-x: hidden;
}
html body header.navbar-fixed-top {
	margin-bottom: 0px;
}
html body .container-fluid {
	padding: 0px;
}
ul {
	margin: 0px 0px 10px 25px; padding: 0px;
}
ol {
	margin: 0px 0px 10px 25px; padding: 0px;
}
li {
	list-style-type: none;
}
textarea {
	resize: vertical;
}
form {
	margin: 0px;
}
dd {
	margin-left: 10px;
}
label {
	font-weight: normal;
}
.popbox-body .control-label {
	line-height: 26px;
}
.input-lg {
	padding: 4px 6px; font-size: 1em;
}
.help-inline {
	display: inline;
}
.help-inlineblock {
	display: inline-block;
}
select {
	height: 38px;
}
input[type='text'] {
	height: 38px;
}
input[type='password'] {
	height: 38px;
}
input[type='datetime'] {
	height: 38px;
}
input[type='datetime-local'] {
	height: 38px;
}
input[type='date'] {
	height: 38px;
}
input[type='month'] {
	height: 38px;
}
input[type='time'] {
	height: 38px;
}
input[type='week'] {
	height: 38px;
}
input[type='number'] {
	height: 38px;
}
input[type='email'] {
	height: 38px;
}
input[type='url'] {
	height: 38px;
}
input[type='search'] {
	height: 38px;
}
input[type='tel'] {
	height: 38px;
}
input[type='color'] {
	height: 38px;
}
.uneditable-input {
	height: 38px;
}
select.form-control {
	height: 37px;
}
[readonly].form-control {
	background: rgb(251, 251, 251); cursor: default;
}
input[readonly] {
	background: rgb(251, 251, 251); cursor: default;
}
select[readonly] {
	background: rgb(251, 251, 251); cursor: default;
}
textarea[readonly] {
	background: rgb(251, 251, 251); cursor: default;
}
.btn {
	background: rgb(249, 249, 247); padding: 8px 25px; border: 1px solid rgb(225, 225, 225); border-image: none; box-shadow: 0px 0px 0px transparent; text-shadow: 0px 0px 0px transparent; -webkit-box-shadow: 0 0 0 transparent;
}
.openpop.btn-hover.btn {
	background: rgb(242, 242, 234); border: 1px solid rgb(225, 225, 225) !important; border-image: none !important; color: rgb(102, 102, 102);
}
.btn-hover.btn:hover {
	background: rgb(242, 242, 234); border: 1px solid rgb(225, 225, 225) !important; border-image: none !important; color: rgb(102, 102, 102);
}
.btn-hover.btn:focus {
	background: rgb(242, 242, 234);
}
.btn-hover.btn:active {
	background: rgb(242, 242, 234);
}
.btn-danger.btn {
	border: 1px solid rgb(209, 72, 54); border-image: none;
}
.btn-primary.btn {
	border: 1px solid rgb(48, 121, 237); border-image: none; background-color: rgb(77, 144, 254);
}
.btn-primary.btn:hover {
	background: rgb(53, 122, 232);
}
.btn-primary.btn:focus {
	background: rgb(53, 122, 232);
}
.btn-primary.btn:active {
	background: rgb(53, 122, 232);
}
.btn-sm.btn {
	padding: 2px 10px;
}
.btn-link.btn {
	color: rgb(51, 51, 51);
}
.btn-link.btn:link {
	text-decoration: none;
}
.btn-link.btn:hover {
	text-decoration: none; box-shadow: 0px 0px 0px transparent; -webkit-box-shadow: 0 0 0 transparent;
}
.btn-link.btn:active {
	text-decoration: none; box-shadow: 0px 0px 0px transparent; -webkit-box-shadow: 0 0 0 transparent;
}
.active.btn {
	outline: 0px; box-shadow: 0px 0px 0px transparent; background-image: none; -webkit-box-shadow: 0 0 0 transparent;
}
.btn:active {
	outline: 0px; box-shadow: 0px 0px 0px transparent; background-image: none; -webkit-box-shadow: 0 0 0 transparent;
}
.label-inverse {
	background: rgb(51, 51, 51); color: rgb(136, 136, 136);
}
ul.list-col-2::before {
	display: table; content: " ";
}
ul.list-col-2::after {
	display: table; content: " ";
}
ul.list-col-2::after {
	clear: both;
}
ul.list-col-2 li {
	width: 50%; float: left;
}
ul.list-col-3::before {
	display: table; content: " ";
}
ul.list-col-3::after {
	display: table; content: " ";
}
ul.list-col-3::after {
	clear: both;
}
ul.list-col-3 li {
	width: 33%; float: left;
}
ul.list-col-4::before {
	display: table; content: " ";
}
ul.list-col-4::after {
	display: table; content: " ";
}
ul.list-col-4::after {
	clear: both;
}
ul.list-col-4 li {
	width: 25%; float: left;
}
.dropdown-menu {
	background: rgb(251, 251, 251); border-color: rgb(225, 225, 225); padding: 0px; border-radius: 3px; box-shadow: 0px 0px 3px #eee, inset 0px 0px 3px #fff; -webkit-box-shadow: 0 0 3px #eee, inset 0 0 3px #fff;
}
.dropdown-menu li.divider {
	margin: 0px;
}
.dropdown-menu > li {
	margin: 5px; line-height: 200%;
}
.dropdown-menu > li i {
	margin-right: 5px;
}
.dropdown-menu > li > a {
	padding: 8px 20px;
}
.dropdown-menu > li > a:hover {
	background: rgb(242, 242, 234); border-radius: 3px; color: rgb(51, 51, 51);
}
.dropdown-menu > li a:focus {
	background: rgb(242, 242, 234); border-radius: 3px; color: rgb(51, 51, 51);
}
.open.btn-group .dropdown-toggle.btn {
	text-shadow: 0px 0px 0px transparent; background-image: none;
}
.btn-group .dropdown-toggle.btn {
	padding-right: 8px; padding-left: 8px; margin-left: -1px; box-shadow: 0px 0px 0px transparent; -webkit-box-shadow: 0 0 0 transparent;
}
.btn-group > .tooltip + .btn {
	margin-left: -1px;
}
.nav-tabs {
	margin-left: 0px;
}
.nav-tabs li.active a {
	background: rgb(249, 249, 247);
}
.nav-tabs li.active a:hover {
	background: rgb(249, 249, 247);
}
.nav-tabs li.active a:focus {
	background: rgb(249, 249, 247);
}
.nav-tabs li a {
	border-radius: 0px; color: rgb(215, 215, 215); padding-right: 20px; padding-left: 20px; margin-right: 0px; margin-left: 5px; cursor: pointer;
}
.text-nowarp {
	white-space: nowrap;
}
.text-break {
	-ms-word-wrap: break-word;
}
.text-linethrough {
	text-decoration: line-through;
}
.ui-sortable-helper {
	box-sizing: content-box;
}
.fs_12 {
	font-size: 12px;
}
.fs_14 {
	font-size: 14px;
}
.fs_15 {
	font-size: 15px;
}
.fs_17 {
	font-size: 17px;
}
.m_sub5 {
	margin: -5px;
}
.ml_sub2 {
	margin-left: -2px;
}
.ml_sub10 {
	margin-left: -10px;
}
.ml_0 {
	margin-left: 0px;
}
.ml_5 {
	margin-left: 5px;
}
.ml_10 {
	margin-left: 10px;
}
.ml_15 {
	margin-left: 15px;
}
.ml_20 {
	margin-left: 20px;
}
.ml_50 {
	margin-left: 50px;
}
.mr_0 {
	margin-right: 0px;
}
.mr_5 {
	margin-right: 5px;
}
.mr_10 {
	margin-right: 10px;
}
.mr_15 {
	margin-right: 15px;
}
.mr_45 {
	margin-right: 45px;
}
.mr_115 {
	margin-right: 115px;
}
.mr_210 {
	margin-right: 210px;
}
.mb_10 {
	margin-bottom: 10px;
}
.pr_10 {
	padding-right: 10px;
}
.pl_0 {
	padding-left: 0px;
}
.plr_5 {
	padding-right: 5px; padding-left: 5px;
}
.plr_10 {
	padding-right: 10px; padding-left: 10px;
}
.pl_5 {
	padding-left: 5px;
}
.pl_10 {
	padding-left: 10px;
}
.pl_12 {
	padding-left: 12px;
}
.pl_15 {
	padding-left: 15px;
}
.pl_20 {
	padding-left: 20px;
}
.p_0 {
	padding: 0px;
}
.pr_0 {
	padding-right: 0px !important;
}
.pr_5 {
	padding-right: 5px;
}
.p_5 {
	padding: 5px;
}
.p_10 {
	padding: 10px;
}
.p_12 {
	padding: 12px;
}
.p_15 {
	padding: 15px;
}
.p_20 {
	padding: 20px;
}
.pl_20 {
	padding-left: 15px;
}
.pt_0 {
	padding-top: 0px !important;
}
.ptb_2 {
	padding-top: 2px; padding-bottom: 2px;
}
.ptb_8 {
	padding-top: 8px !important; padding-bottom: 8px !important;
}
.pt_15 {
	padding-top: 15px;
}
.pt_45 {
	padding-top: 45px;
}
.pb_0 {
	padding-bottom: 0px;
}
.pb_10 {
	padding-bottom: 10px;
}
.ml_sub100 {
	margin-left: -100px;
}
.m_0 {
	margin: 0px;
}
.m_5 {
	margin: 5px;
}
.m_10 {
	margin: 10px;
}
.m_12 {
	margin: 12px;
}
.m_15 {
	margin: 15px;
}
.m_20 {
	margin: 20px;
}
.mt_0 {
	margin-top: 0px;
}
.mt_5 {
	margin-top: 5px;
}
.mt_12 {
	margin-top: 12px;
}
.mt_20 {
	margin-top: 20px;
}
.mt_60 {
	margin-top: 60px;
}
.mt_180 {
	margin-top: 180px;
}
.mb_0 {
	margin-bottom: 0px;
}
.mb_100 {
	margin-bottom: 100px;
}
.w_12 {
	width: 12px;
}
.w_25 {
	width: 25px;
}
.w_120 {
	width: 120px;
}
.w_165 {
	width: 165px;
}
.w_260 {
	width: 260px;
}
.w_280 {
	width: 280px;
}
.w_300 {
	width: 300px;
}
.w_355 {
	width: 355px;
}
.w_360 {
	width: 360px;
}
.w_397 {
	width: 397px;
}
.w_600 {
	width: 600px;
}
.w_660 {
	width: 660px;
}
.w_678 {
	width: 678px;
}
.w_30p {
	width: 30%;
}
.w_50p {
	width: 50%;
}
.w_70p {
	width: 70%;
}
.w_75p {
	width: 75%;
}
.w_83p {
	width: 83%;
}
.w_100p {
	width: 100%;
}
.h_36 {
	height: 36px;
}
.h_38 {
	height: 38px;
}
.h_180 {
	height: 180px;
}
.lh-40 {
	line-height: 40px;
}
.h_380 {
	height: 380px;
}
.h_100p {
	height: 100%;
}
.min-w100 {
	min-width: 100px;
}
.min-w200 {
	min-width: 200px;
}
.min-w725 {
	min-width: 725px;
}
.max-w725 {
	max-width: 725px;
}
.min-h50 {
	min-height: 50px;
}
.min-h400 {
	min-height: 400px;
}
.max-h300 {
	max-height: 300px;
}
.max-h360 {
	max-height: 360px;
}
.max-h400 {
	max-height: 400px;
}
.max-h500 {
	max-height: 500px;
}
.not-allowed {
	cursor: not-allowed !important;
}
.clickable {
	cursor: pointer !important;
}
.color_gray {
	color: rgb(204, 204, 204);
}
.color_main {
	color: rgb(216, 76, 49);
}
.color_main:link {
	color: rgb(216, 76, 49);
}
.color_main:visited {
	color: rgb(216, 76, 49);
}
.tab-content {
	min-height: 100px;
}
.ui-match {
	background: rgb(255, 216, 96);
}
.wt-form input:invalid:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px; color: rgb(0, 0, 0); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(82,168,236,0.6); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}
.wt-form textarea:invalid:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px; color: rgb(0, 0, 0); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(82,168,236,0.6); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}
.wt-form select:invalid:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px; color: rgb(0, 0, 0); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(82,168,236,0.6); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}
.wt-form input:invalid.error:focus {
	border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px #f8b9b7; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7;
}
.wt-form textarea:invalid.error:focus {
	border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px #f8b9b7; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7;
}
.wt-form select:invalid.error:focus {
	border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px #f8b9b7; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7;
}
.wt-form .dropdown-menu {
	-ms-overflow-y: auto; max-height: 400px;
}
.wt-form textarea.error {
	border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px #f8b9b7; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7;
}
.wt-form select.error {
	border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px #f8b9b7; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7;
}
.wt-form textarea.error.ng-invalid {
	border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px #f8b9b7; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7;
}
.wt-form select.error.ng-invalid {
	border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px #f8b9b7; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7;
}
.wt-form input.error {
	border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px #f8b9b7; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7;
}
.wt-form input.error.ng-invalid {
	border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px #f8b9b7; -webkit-box-shadow: 0 0 6px #f8b9b7; -moz-box-shadow: 0 0 6px #f8b9b7;
}
.breadcrumb {
	margin: 10px 0px 0px; border: 1px solid rgb(242, 242, 234); border-image: none; background-color: rgb(249, 249, 247);
}
.blank.breadcrumb {
	margin-right: 25px; margin-left: 25px;
}
.breadcrumb a {
	color: rgb(51, 51, 51); font-weight: normal;
}
.breadcrumb a:hover {
	color: rgb(209, 72, 54);
}
button {
	
}
.btn:focus {
	
}
.btn:focus:active {
	
}
button[type='submit'] {
	cursor: pointer;
}
input[type='submit'] {
	cursor: pointer;
}
::selection {
	background: rgba(216, 76, 49, 0.8); color: rgba(255, 255, 255, 0.85);
}
.rightpanel-wrapper {
	position: relative;
}
.height-scrollauto {
	overflow: auto;
}
embed {
	display: block;
}
.pointer-grabbing {
	
}
.btn {
	border-color: rgb(225, 225, 225); background-color: rgb(249, 249, 247);
}
.btn:hover {
	background-color: rgb(242, 242, 234);
}
.btn:active {
	border-color: rgb(225, 225, 225); background-color: rgb(242, 242, 234);
}
.active.btn {
	border-color: rgb(225, 225, 225); background-color: rgb(242, 242, 234);
}
.btn-default {
	border-color: rgb(204, 204, 204); text-shadow: 0px 1px 0px #fff; background-repeat: repeat-x; background-color: rgb(249, 249, 247);
}
.btn-default:hover {
	background-position: 0px -15px; background-color: rgb(223, 223, 212);
}
.btn-default:focus {
	background-position: 0px -15px; background-color: rgb(223, 223, 212);
}
.btn-default:active {
	border-color: rgb(218, 218, 206); background-color: rgb(223, 223, 212);
}
.active.btn-default {
	border-color: rgb(218, 218, 206); background-color: rgb(223, 223, 212);
}
:disabled.btn-default {
	background-image: none; background-color: rgb(223, 223, 212);
}
[disabled].btn-default {
	background-image: none; background-color: rgb(223, 223, 212);
}
.btn-primary {
	border-color: rgb(43, 102, 154); background-repeat: repeat-x; background-color: rgb(66, 139, 202);
}
.btn-primary:hover {
	background-position: 0px -15px; background-color: rgb(45, 108, 162);
}
.btn-primary:focus {
	background-position: 0px -15px; background-color: rgb(45, 108, 162);
}
.btn-primary:active {
	border-color: rgb(43, 102, 154); background-color: rgb(45, 108, 162);
}
.active.btn-primary {
	border-color: rgb(43, 102, 154); background-color: rgb(45, 108, 162);
}
:disabled.btn-primary {
	background-image: none; background-color: rgb(45, 108, 162);
}
[disabled].btn-primary {
	background-image: none; background-color: rgb(45, 108, 162);
}
.btn-success {
	border-color: rgb(62, 143, 62); background-repeat: repeat-x; background-color: rgb(92, 184, 92);
}
.btn-success:hover {
	background-position: 0px -15px; background-color: rgb(65, 150, 65);
}
.btn-success:focus {
	background-position: 0px -15px; background-color: rgb(65, 150, 65);
}
.btn-success:active {
	border-color: rgb(62, 143, 62); background-color: rgb(65, 150, 65);
}
.active.btn-success {
	border-color: rgb(62, 143, 62); background-color: rgb(65, 150, 65);
}
:disabled.btn-success {
	background-image: none; background-color: rgb(65, 150, 65);
}
[disabled].btn-success {
	background-image: none; background-color: rgb(65, 150, 65);
}
.btn-info {
	border-color: rgb(40, 164, 201); background-repeat: repeat-x; background-color: rgb(91, 192, 222);
}
.btn-info:hover {
	background-position: 0px -15px; background-color: rgb(42, 171, 210);
}
.btn-info:focus {
	background-position: 0px -15px; background-color: rgb(42, 171, 210);
}
.btn-info:active {
	border-color: rgb(40, 164, 201); background-color: rgb(42, 171, 210);
}
.active.btn-info {
	border-color: rgb(40, 164, 201); background-color: rgb(42, 171, 210);
}
:disabled.btn-info {
	background-image: none; background-color: rgb(42, 171, 210);
}
[disabled].btn-info {
	background-image: none; background-color: rgb(42, 171, 210);
}
.btn-warning {
	border-color: rgb(227, 141, 19); background-repeat: repeat-x; background-color: rgb(240, 173, 78);
}
.btn-warning:hover {
	background-position: 0px -15px; background-color: rgb(235, 147, 22);
}
.btn-warning:focus {
	background-position: 0px -15px; background-color: rgb(235, 147, 22);
}
.btn-warning:active {
	border-color: rgb(227, 141, 19); background-color: rgb(235, 147, 22);
}
.active.btn-warning {
	border-color: rgb(227, 141, 19); background-color: rgb(235, 147, 22);
}
:disabled.btn-warning {
	background-image: none; background-color: rgb(235, 147, 22);
}
[disabled].btn-warning {
	background-image: none; background-color: rgb(235, 147, 22);
}
.btn-danger {
	border-color: rgb(163, 52, 31); background-repeat: repeat-x; background-color: rgb(216, 76, 49);
}
.btn-danger:hover {
	background-position: 0px -15px; background-color: rgb(171, 55, 32);
}
.btn-danger:focus {
	background-position: 0px -15px; background-color: rgb(171, 55, 32);
}
.btn-danger:active {
	border-color: rgb(163, 52, 31); background-color: rgb(171, 55, 32);
}
.active.btn-danger {
	border-color: rgb(163, 52, 31); background-color: rgb(171, 55, 32);
}
:disabled.btn-danger {
	background-image: none; background-color: rgb(171, 55, 32);
}
[disabled].btn-danger {
	background-image: none; background-color: rgb(171, 55, 32);
}
.btn-success {
	border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92);
}
.btn-success:hover {
	background-color: rgb(71, 164, 71);
}
.btn-success:active {
	border-color: rgb(57, 132, 57); background-color: rgb(71, 164, 71);
}
.active.btn-success {
	border-color: rgb(57, 132, 57); background-color: rgb(71, 164, 71);
}
.thumbnail {
	box-shadow: 0px 1px 2px rgba(0,0,0,0.075); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.img-thumbnail {
	box-shadow: 0px 1px 2px rgba(0,0,0,0.075); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover {
	background-color: rgb(232, 232, 232);
}
.dropdown-menu > li > a:focus {
	background-color: rgb(232, 232, 232);
}
.dropdown-menu > .active > a {
	background-color: rgb(53, 126, 189);
}
.dropdown-menu > .active > a:hover {
	background-color: rgb(53, 126, 189);
}
.dropdown-menu > .active > a:focus {
	background-color: rgb(53, 126, 189);
}
.navbar-default {
	border-radius: 3px; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.15), 0px 1px 5px rgba(0,0,0,0.075); background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(248, 248, 248) 100%); background-repeat: repeat-x; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .active > a {
	box-shadow: inset 0px 3px 9px rgba(0,0,0,0.075); -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand {
	text-shadow: 0px 1px 0px rgba(255,255,255,0.25);
}
.navbar-nav > li > a {
	text-shadow: 0px 1px 0px rgba(255,255,255,0.25);
}
.navbar-inverse {
	background-image: linear-gradient(rgb(60, 60, 60) 0px, rgb(34, 34, 34) 100%); background-repeat: repeat-x;
}
.navbar-inverse .navbar-nav > .active > a {
	box-shadow: inset 0px 3px 9px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(34, 34, 34) 0px, rgb(40, 40, 40) 100%); background-repeat: repeat-x; -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand {
	text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.navbar-inverse .navbar-nav > li > a {
	text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.navbar-static-top {
	border-radius: 0px;
}
.navbar-fixed-top {
	border-radius: 0px;
}
.navbar-fixed-bottom {
	border-radius: 0px;
}
.alert {
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 1px 2px rgba(0,0,0,0.05); text-shadow: 0px 1px 0px rgba(255,255,255,0.2); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
	border-color: rgb(178, 219, 161);
}
.alert-info {
	border-color: rgb(154, 207, 234);
}
.alert-warning {
	border-color: rgb(245, 231, 158);
}
.alert-danger {
	border-color: rgb(220, 167, 167);
}
.progress {
	background-image: linear-gradient(rgb(235, 235, 235) 0px, rgb(245, 245, 245) 100%); background-repeat: repeat-x;
}
.progress-bar {
	background-image: linear-gradient(rgb(66, 139, 202) 0px, rgb(48, 113, 169) 100%); background-repeat: repeat-x;
}
.progress-bar-success {
	background-image: linear-gradient(rgb(92, 184, 92) 0px, rgb(68, 157, 68) 100%); background-repeat: repeat-x;
}
.progress-bar-info {
	background-image: linear-gradient(rgb(91, 192, 222) 0px, rgb(49, 176, 213) 100%); background-repeat: repeat-x;
}
.progress-bar-warning {
	background-image: linear-gradient(rgb(240, 173, 78) 0px, rgb(236, 151, 31) 100%); background-repeat: repeat-x;
}
.progress-bar-danger {
	background-image: linear-gradient(rgb(216, 76, 49) 0px, rgb(180, 58, 34) 100%); background-repeat: repeat-x;
}
.progress-bar-striped {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.list-group {
	border-radius: 3px; box-shadow: 0px 1px 2px rgba(0,0,0,0.075); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.active.list-group-item {
	border-color: rgb(50, 120, 179); text-shadow: 0px -1px 0px #3071a9; background-image: linear-gradient(rgb(66, 139, 202) 0px, rgb(50, 120, 179) 100%); background-repeat: repeat-x;
}
.active.list-group-item:hover {
	border-color: rgb(50, 120, 179); text-shadow: 0px -1px 0px #3071a9; background-image: linear-gradient(rgb(66, 139, 202) 0px, rgb(50, 120, 179) 100%); background-repeat: repeat-x;
}
.active.list-group-item:focus {
	border-color: rgb(50, 120, 179); text-shadow: 0px -1px 0px #3071a9; background-image: linear-gradient(rgb(66, 139, 202) 0px, rgb(50, 120, 179) 100%); background-repeat: repeat-x;
}
.panel {
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
	background-image: linear-gradient(rgb(245, 245, 245) 0px, rgb(232, 232, 232) 100%); background-repeat: repeat-x;
}
.panel-primary > .panel-heading {
	background-image: linear-gradient(rgb(66, 139, 202) 0px, rgb(53, 126, 189) 100%); background-repeat: repeat-x;
}
.panel-success > .panel-heading {
	background-image: linear-gradient(rgb(223, 240, 216) 0px, rgb(208, 233, 198) 100%); background-repeat: repeat-x;
}
.panel-info > .panel-heading {
	background-image: linear-gradient(rgb(217, 237, 247) 0px, rgb(196, 227, 243) 100%); background-repeat: repeat-x;
}
.panel-warning > .panel-heading {
	background-image: linear-gradient(rgb(252, 248, 227) 0px, rgb(250, 242, 204) 100%); background-repeat: repeat-x;
}
.panel-danger > .panel-heading {
	background-image: linear-gradient(rgb(242, 222, 222) 0px, rgb(235, 204, 204) 100%); background-repeat: repeat-x;
}
.well {
	border-color: rgb(220, 220, 220); box-shadow: inset 0px 1px 3px rgba(0,0,0,0.05), 0px 1px 0px rgba(255,255,255,0.1); background-image: linear-gradient(rgb(232, 232, 232) 0px, rgb(245, 245, 245) 100%); background-repeat: repeat-x; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
